.table {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.card {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    width: 100px;
    height: 150px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: wait;
}
.card.selected {
    border: 2px solid blue; /* Highlight selected cards */
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.5); /* Add a subtle shadow */
}

.board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.card.selected {
    border: 2px solid red;
}
.cardClicked{
    border: 2px solid #6bd83d;
}

.button-pannel button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.red {
    border: 3px solid red;
    background-color: red;
}

.green {
    border: 3px solid green;
    background-color: green;
}

.purple {
    border: 3px solid purple;
    background-color: purple;
}

.circle {
    height: 15%;
    width: 30%;
    border-radius: 50%;
}

.rectangle {
    height: 10%;
    width: 75%;
}

.square {
    height: 20%;
    width: 30%;
}

.solid {
}

.empty {
    background-color: white;
}


.striped {
    background-image: repeating-linear-gradient(
            45deg,
            transparent,
            transparent 20px,
            #333 20px,
            #333 30px
    );
    background-size: 70px 70px; /* Adjust for stripe width and density */
}
.striped {
    background-color: #a52626;
    background-image:
            repeating-linear-gradient(
                    90deg,
                    transparent,
                    transparent 1px,
                    #ccc 1px,
                    #ccc 2px
            );
}